
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(135deg, #6a00ff, #3b00d6, #00b4ff);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 850px;
    background: white;
    padding: 40px;
    border-radius: 40px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    text-align: center;
}

.container h2 {
    margin-bottom: 20px;
    font-size: 26px;
    color: #333;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px 20px;
    margin-bottom: 20px;
}

form input[name="password"],
form input[name="confirm_password"] {
    grid-column: span 1;
}

form input,
button {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
    outline: none;
    font-size: 15px;
    transition: 0.2s;
}

form input:focus {
    border-color: #6a00ff;
    box-shadow: 0 0 5px rgba(106,0,255,0.4);
}

button {
    grid-column: span 2;
    background: #6a00ff;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: 600;
    padding: 12px 0;
    border-radius: 25px;
    transition: 0.2s;
}

button:hover {
    background: #5200cc;
}

p {
    margin-top: 10px;
    font-size: 14px;
}

p a {
    color: #6a00ff;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}
